body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
}
  
.container {
    padding: 25px;
    max-width: fit-content;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
  
h3 {
    text-align: center;
    padding: 0;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

h4 {
    /* text-align: center; */
    margin: 5px 0 15px;
    display: block;
    font-size: 20px;
    font-weight: 300;
}

mat-expansion-panel {
    margin-bottom: 15px;
}

  
button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
  
button[type="submit"]:active {
    background: #43A047;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
  
button[type="submit"]:disabled {
    background: #929292;
    border: none;
}

.email {
    color: blue;
    text-decoration: underline;
}